<phpunit colors="true">
    <testsuites>
        <testsuite name="TestSuite">
            <testsuite name="tests">
                <file>tests/test_mailmailer.php</file>
                <file>tests/test_operator.php</file>
                <file>tests/test_misc_functions.php</file>
                <file>tests/test_fullpath.php</file>
            </testsuite>
        </testsuite>
    </testsuites>
</phpunit>
