.isd-logo-holder{
background-color: #fdc400;
}
/*.lhmenu li a:hover {
background-color:#FCE7A1;
color:#666666;
}
.lhmenu li a.selected {
background-color:#FCE7A1;
}
.lhmenu .silva-link:first-child a{
color: #fdc400;
}*/

#left-silva-content li a.selected{
	background-color: #FCE7A1;
}
#left-silva-content li a:hover{
	color: #666666;
	background-color: #FCE7A1;
}
/*#left-silva-content li a:visited{
	color: #666666;
}*/
#left-silva-content ul.nobullet li:first-child a{
color: #fdc400;
}
/*Table styling*/

#rendered-doc-area table.silvatable.grid tr.odd{
	background-color: #FCE7A1;
}
/*Right Quick Links Menu styling*/
/*#rightcontent #right-column ul.nobullet li a{
	background-color:#fdc400;
	color: #000000;
}
#rightcontent #right-column ul.nobullet li a.selected{
	background-color: #FCE7A1;
}
#rightcontent #right-column ul.nobullet li a:hover{
	color: #000000;
	background-color: #FCE7A1;
}*/